@use 'clock.sass'

*
  font-size: 14px

window
  background: transparent

window.Bar 
  background: #080808
  font-weight: bold

  >centerbox 
    margin: 0px 6px
    background: #080808
    padding: 10px

switch
  border-radius: 5px
  border: 2px solid white

  &:checked 
    background: white

    slider
      background: #080808

  slider
    box-shadow: none
    border-radius: 5px
    background: white


.window
  background: #080808
  padding: 10px
  border-radius: 10px
  border: 1px solid #171717

scale
  padding: 0
  &.muted
    highlight
      background: #262626
  contents
    trough
      background: #171717
      slider
        box-shadow: none
        background: transparent
        padding: 5px

      highlight
        background: white 

.smallText
  font-size: 12px
  font-weight: 500



.power-menu-item
  &:hover
    background: white
